.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.Header {
  position: sticky;
  top: 0;
  background-color: #282c34;
  width: 100%;
  z-index: 1;
}

.Pokemon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 140px); */
  justify-content: center;
  /* align-content: center; */
  /* align-items: center; */
  gap: 10px;
}

.PokeCard, .PokeDetail {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 0;
  position: relative;
}

.PokeCard {
  width: 140px;
  height: 140px;
  cursor: pointer;
}

.PokeDetail {
  width: 300px;
  height: 300px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #282c34;
  position: absolute;
  bottom: 10px;
  left: 0;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 2;
}

.PokeCard img, .PokeDetail img {
  width: 60%;
  align-items: center;
  margin: 0 calc(40% / 2);
  position: absolute;
  top: 0;
  z-index: 1;
}
