.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* .App h1 {
  font-size: calc(10px + 2vmin);
} */

.Header {
  position: sticky;
  top: 0;
  background-color: #282c34;
  width: 100%;
  z-index: 1;
}

.Pokemon {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.PokeCard {
  border-radius: 10px;
  /* width: 240px; */
  width: 160px;
  height: 160px;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  /* background-repeat: no-repeat;
  background-position: center 0;
  background-size: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  z-index: 0;
  position: relative;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #282c34;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 2;
}

.PokeCard img {
  width: 60%;
  align-items: center;
  margin: 0 calc(40% / 2 - 10px);
  position: absolute;
  top: 0;
  z-index: 1;
}

.PokeCard h3 {
  /* margin: 4px auto 14px auto; */
  margin: 4px auto;
}

.PokeCard p {
  background-color: rgba(0, 0, 0, 0.25);
  width: fit-content;
  padding: 4px 8px;
  border-radius: 18px;
  margin: 0 auto;
}